pkgbase = clang-prefixed-release
	pkgdesc = Up to date official clang releases installed at /opt/clang/latest to avoid system wide usage/impact
	pkgver = 20.1.4
	pkgrel = 1
	url = https://llvm.org/
	install = clang.install
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	checkdepends = python-psutil
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = libffi
	makedepends = libedit
	makedepends = ncurses
	makedepends = libxml2
	makedepends = swig
	makedepends = lld
	makedepends = python
	makedepends = libc++
	makedepends = ocl-icd
	makedepends = opencl-headers
	makedepends = z3
	makedepends = jsoncpp
	makedepends = clang
	makedepends = libunwind
	source = https://github.com/llvm/llvm-project/archive/refs/tags/llvmorg-20.1.4.tar.gz
	sha512sums = 02d4c7d938f25b003d76e8b06d0813d25160223f15c3a37cdae5d340e54459c865d687cc6f2831c4ba6276fe1610da9797ed8da4cdc1eda0a53f3ed7eb983452

pkgname = clang-prefixed-release
