pkgbase = clang-prefixed-release
	pkgdesc = Up to date official clang releases installed at /opt/clang/latest to avoid system wide usage/impact
	pkgver = 20.1.1
	pkgrel = 1
	url = https://llvm.org/
	install = clang.install
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	checkdepends = python-psutil
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = libffi
	makedepends = libedit
	makedepends = ncurses
	makedepends = libxml2
	makedepends = swig
	makedepends = lld
	makedepends = python
	makedepends = libc++
	makedepends = ocl-icd
	makedepends = opencl-headers
	makedepends = z3
	makedepends = jsoncpp
	makedepends = clang
	makedepends = libunwind
	source = https://github.com/llvm/llvm-project/archive/refs/tags/llvmorg-20.1.1.tar.gz
	sha512sums = 3670f05f51637426c612d4d603a5bb896fbd56ead9e2fbabf974541db2b50ac885dc84648d3f45f291a8986efe5b504cb68cb4cec6f90d84d4291e95319bcce8

pkgname = clang-prefixed-release
